################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GDP/FileContentIndex/0f5b8888-a838-42b2-bdf5-1d6333ed6262.vsidx
/.vs/GDP/FileContentIndex/160b6f92-7749-454e-917c-b37d52d0222f.vsidx
/.vs/GDP/FileContentIndex/706c4567-f598-4bbe-9d67-d497ffcf3716.vsidx
/.vs/GDP/FileContentIndex/77f72dff-72c0-4c46-9ab2-6a1c58ab79ea.vsidx
/.vs/GDP/FileContentIndex/7b04290f-0397-4261-aa04-84a890b5740a.vsidx
/.vs/GDP/FileContentIndex/e3abf486-e5e7-4e10-a80d-e850e4a39a73.vsidx
/.vs/GDP/FileContentIndex/468dfd05-63de-4d7a-9803-4ceeb8d51974.vsidx
/.vs/GDP/FileContentIndex/15cbefcc-62f4-4a34-a64b-af83d20a85c1.vsidx
/.vs/GDP/FileContentIndex
