<robot name="cone">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="Tarot_Gimble_Core_Model.STL" scale="1 1 1"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 0.5"/> <!-- Red, Green, Blue, Alpha -->
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="Tarot_Gimble_Core_Model.STL" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- Mass in kilograms -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>
</robot>